/*  your css code here. If applicable */
 body {
            background-color: #f6f6f6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

        .left {
            width: 350px;
            margin-top: 70px;
            display: inline-block;
			
        }
         .left p{
			 font-size: 10px;
			 text-align: center;
		 }

        .right {
            display: flex;
            flex-direction: column;
            width: 270px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px #ccc;
            gap: 30px;
        }

        form {
            flex-direction: column;
        }

        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
			
        }
         input:not(:last-child) {
               margin-bottom: 15px;
}

        button {
            background-color: #1877f2;
            border-radius: 5px;
            padding: 10px 20px;
            width: 100%;
            color: white;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #1877f2;
        }

        .signup {
            background-color: #42b72a;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }